*.iml
java/.gradle
java/local.properties
java/.idea/caches
java/.idea/libraries
java/.idea/modules.xml
java/.idea/workspace.xml
java/.idea/navEditor.xml
java/.idea/assetWizardSettings.xml
.DS_Store
java/build
java/captures
java/.externalNativeBuild
java/.cxx
swift/*/Podfile.lock
swift/*/Pods/
swift/*/HelloLinphone.xcodeproj/project.xcworkspace/xcuserdata/
swift/*/HelloLinphone.xcodeproj/xcuserdata/
swift/*/HelloLinphone.xcworkspace/xcuserdata/
