*.iml
java/.gradle
java/local.properties
java/.idea/caches
java/.idea/libraries
java/.idea/modules.xml
java/.idea/workspace.xml
java/.idea/navEditor.xml
java/.idea/assetWizardSettings.xml
.DS_Store
java/build
java/captures
java/.externalNativeBuild
java/.cxx

# C# / UWP Files / VS Specifiq files
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*UpgradeLog*.htm
AppPackages

[Oo]bj/
[Bb]in/

ios/swift/*/Podfile.lock
ios/swift/*/Pods/
ios/swift/*/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/swift/*/*.xcodeproj/xcuserdata/
ios/swift/*/*.xcworkspace/xcuserdata/
ios/swift/*/build

